.container {
    height: 100%;
    background-color: lightblue;
    padding: 25px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.jumbotron {
    background-color: lightblue;
    border: solid 2px darkcyan;
}
    
.panel {
    background-color: aqua;
}

.footer {
    
    padding: 20px;
    background-color: lightgray;
   
    text-align: center;
}